Model/Schemas/Car.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" version="3.41" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="car">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="make" type="xs:string"></xs:element>
        <xs:element name="model" type="xs:string"></xs:element>
        <xs:element name="color" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>